# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
.vite/

# Local environment files
.env

# IDE/editor folders
.idea/
.vscode/

# Duplicate or unnecessary folders
node_modules - Copy/


